body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(230, 216, 216);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

button {
  background-color: rgb(254, 84, 27);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

.cart-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(230, 216, 216);
}

.cart-items {
  margin-bottom: 20px;
  
  
}

.h1-cart {
  background-color: rgb(254, 84, 27);
  text-align: center;
  padding: 5px;
}

.cart-summary{
  background-color: rgb(238, 238, 237);
  padding: 4px;
  margin-top: 2%;
  }

.h2-cart-summary {
  color: rgb(254, 84, 27);
  margin-left: 5%;
}

.p-cart-summary {
  margin-left: 5%;
}

.remove-button {
  background-color: rgb(254, 84, 27);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 6px ;
}

.inc_desc-button {
  background-color: black;
  padding: 12px;
  margin: 5px;
}

.h1-page {
  background-color: rgb(254, 84, 27);
  text-align: center;
  padding: 5px;
}

.checkout {
  margin-top: 3%;
}

.applyDis {
   margin-left: 5px;
}

.thank-you {
  text-align: center;
}